<% cache [locale_key, @assets_declarations] do %>
  <a name="assets_declarations" data-magellan-destination="assets_declarations"></a>
  <h2 class="lead"><%= t("people.assets_declarations") %></h2>

  <% if @assets_declarations.empty? %>
    <p><%= t("people.show.no_declaration") %></p>
  <% end %>

  <ul class="tabs" data-tab>
    <% @assets_declarations.each_with_index do |declaration, index| %>
      <% active = index == @assets_declarations.length - 1 %>
      <li class="tab-title <%= 'active' if active %>">
        <a href="#assets_declaration_<%= iso_date(declaration.declaration_date) %>">
          <%= declaration_name(declaration, i18n_namespace: "assets_declarations") %>
        </a>
      </li>
    <% end %>
  </ul>

  <div class="tabs-content">
    <% @assets_declarations.each_with_index do |declaration, index| %>

      <% active = index == @assets_declarations.length - 1 %>
      <div id="assets_declaration_<%= iso_date(declaration.declaration_date) %>"
           aria-hidden="<%= !active %>"
           class="content <%= 'active' if active %>">

        <h3><%= t('assets_declarations.date', date: format_date(declaration.declaration_date)) %></h3>

        <table>
          <caption><%= t("assets_declarations.real_estate_properties.title") %></caption>
          <thead>
            <tr>
              <th scope="col"><%= t("assets_declarations.real_estate_properties.kind") %></th>
              <th scope="col"><%= t("assets_declarations.real_estate_properties.type") %></th>
              <th scope="col"><%= t("assets_declarations.real_estate_properties.description") %></th>
              <th scope="col"><%= t("assets_declarations.real_estate_properties.municipality") %></th>
              <th scope="col" class="th-tiny">
                <abbr title="<%= t("assets_declarations.real_estate_properties.share") %>">Part.</abbr> (%)</th>
              <th scope="col" class="th-small"><%= t("assets_declarations.real_estate_properties.tax_value") %>&nbsp;(&euro;)</th>
              <th scope="col" class="th-tiny"><%= t("assets_declarations.real_estate_properties.purchase_date") %></th>
              <th scope="col"><%= t("assets_declarations.real_estate_properties.notes") %></th>
            </tr>
          </thead>
          <tbody>
          <% if declaration.real_estate_properties.any? %>
            <% declaration.real_estate_properties.each do |property| %>
              <tr>
                <td><%= property.kind %></td>
                <td><%= property.type %></td>
                <td><%= property.description %></td>
                <td><%= property.municipality %></td>
                <td><%= property.share %></td>
                <td><%= property.tax_value %></td>
                <td><%= property.purchase_date %></td>
                <td><%= property.notes %></td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="8">
                <%= t("shared.no_data") %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>

        <table>
          <caption><%= t("assets_declarations.account_deposits.title") %></caption>
          <thead>
            <tr>
              <th scope="col" class="th-big"><%= t('assets_declarations.account_deposits.kind') %></th>
              <th scope="col"><%= t('assets_declarations.account_deposits.entity') %></th>
              <th scope="col" class="th-small"><%= t('assets_declarations.account_deposits.balance') %></th>
            </tr>
          </thead>
          <tbody>
            <% if declaration.account_deposits.any? %>
              <% declaration.account_deposits.each do |deposit| %>
                <tr>
                  <td><%= deposit.kind %></td>
                  <td><%= deposit.banking_entity %></td>
                  <td><%= deposit.balance %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">
                  <%= t("shared.no_data") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table>
          <% if ['2015','2016'].include?(declaration.declaration_date.year.to_s) %>
            <% other_deposits_title = t("assets_declarations.other_deposits.old_title") %>
          <% else %>
            <% other_deposits_title = t("assets_declarations.other_deposits.title") %>
          <% end %>
          <caption><%= other_deposits_title %></caption>
          <thead>
            <tr>
              <th scope="col" class="th-big"><%= t('assets_declarations.other_deposits.kind') %></th>
              <th scope="col" class="th-small"><%= t('assets_declarations.other_deposits.description') %></th>
              <th scope="col"><%= t('assets_declarations.other_deposits.amount') %></th>
              <th scope="col" class="th-small"><%= t('assets_declarations.other_deposits.purchase_date') %></th>
            </tr>
          </thead>
          <tbody>
            <% if declaration.other_deposits.any? %>
              <% declaration.other_deposits.each do |asset| %>
                <tr>
                  <td><%= asset.kind %></td>
                  <td><%= asset.description %></td>
                  <td><%= asset.amount %></td>
                  <td><%= asset.purchase_date %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="4">
                  <%= t("shared.no_data") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table>
          <caption><%= t("assets_declarations.vehicles.title") %></caption>
          <thead>
            <tr>
              <th scope="col" class="th-big"><%= t("assets_declarations.vehicles.kind") %></th>
              <th scope="col"><%= t("assets_declarations.vehicles.model") %></th>
              <th scope="col" class="th-small"><%= t("assets_declarations.vehicles.purchase_date") %></th>
            </tr>
          </thead>
          <tbody>
            <% if declaration.vehicles.any? %>
              <% declaration.vehicles.each do |vehicle| %>
                <tr>
                  <td><%= vehicle.kind %></td>
                  <td><%= vehicle.model %></td>
                  <td><%= vehicle.purchase_date %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">
                  <%= t("shared.no_data") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table>
          <caption><%= t("assets_declarations.other_personal_properties.title") %></caption>
          <thead>
            <tr>
              <th scope="col"><%= t("assets_declarations.other_personal_properties.kind") %></th>
              <th scope="col" class="th-small"><%= t("assets_declarations.other_personal_properties.purchase_date") %></th>
            </tr>
          </thead>
          <tbody>
            <% if declaration.other_personal_properties.any? %>
              <% declaration.other_personal_properties.each do |property| %>
                <tr>
                  <td><%= property.kind %></td>
                  <td><%= property.purchase_date %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="2">
                  <%= t("shared.no_data") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table>
          <caption><%= t("assets_declarations.debts.title") %></caption>
          <thead>
            <tr>
              <th scope="col" class="th-big"><%= t("assets_declarations.debts.kind") %></th>
              <th scope="col"><%= t("assets_declarations.debts.comments") %></th>
              <th scope="col" class="th-small"><%= t("assets_declarations.debts.amount") %>&nbsp;(&euro;)</th>
            </tr>
          </thead>
          <tbody>
            <% if declaration.debts.any? %>
              <% declaration.debts.each do |debt| %>
                <tr>
                  <td><%= debt.kind %></td>
                  <td><%= debt.comments %></td>
                  <td><%= debt.amount %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">
                  <%= t("shared.no_data") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <table>
          <caption><%= t("assets_declarations.tax_data.title") %></caption>
          <thead>
            <tr>
              <th scope="col" class="th-big"><%= t("assets_declarations.tax_data.tax") %></th>
              <th scope="col"><%= t("assets_declarations.tax_data.fiscal_data") %></th>
              <th scope="col"><%= t("assets_declarations.tax_data.comments") %></th>
              <th scope="col" class="th-small"><%= t("assets_declarations.tax_data.amount") %>&nbsp;(&euro;)</th>
            </tr>
          </thead>
          <tbody>
            <% if declaration.tax_data.any? %>
              <% declaration.tax_data.each do |tax_data| %>
                <tr>
                  <td><%= tax_data.tax %></td>
                  <td><%= tax_data.fiscal_data %></td>
                  <td><%= tax_data.comments %></td>
                  <td><%= tax_data.amount %></td>
                </tr>
              <% end %>
            <% else %>
              <tr>
                <td colspan="3">
                  <%= t("shared.no_data") %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    <% end %>
  </div>
<% end %>
