<a name="contact"></a>
<h2 data-magellan-destination="contact"><%= t("people.contact.title") %></h2>

<p class="margin-top"><%= t("people.contact.intro", person: @person.name ) %></p>

<div class="small-12 medium-6">
  <% if contact_notice.present? %>
    <div id="contact_notice" data-alert class="alert-box success text-center">
      <%= contact_notice %>
    </div>
  <% end %>

  <% if contact_alert.present? %>
    <div id="contact_alert" data-alert class="alert-box alert text-center">
      <%= contact_alert %>
    </div>
  <% end %>

  <%= form_for @contact, method: :post, url: contact_person_path(@person, anchor: :contact) do |f| %>

    <%= f.text_field :name, placeholder: Contact.human_attribute_name(:name) %>

    <%= f.text_field :email, placeholder: Contact.human_attribute_name(:email) %>

    <%= f.text_area :body, placeholder: Contact.human_attribute_name(:body), rows: 6 %>

    <%= f.submit t('people.contact.submit'), id: :send_message %>
  <% end %>
</div>
