<ul class="people-list">
  <% councillors.each do |councillor| %>
    <li>
      <%= link_to councillor do %>
        <div class="people-photo">
          <figure>
            <%= image_tag councillor.portrait.url(:medium) %>
            <span class="people-affiliation"><%= councillor.party.name %></span>
          </figure>
        </div>
        <h3><%= councillor.name %></h3>
      <% end %>
      <p><%= councillor.role %></p>
    </li>
  <% end %>
</ul>
