<% cache [locale_key, person, person.party] do %>
  <li>
    <%= link_to person do %>
      <div class="people-photo text-center">
        <figure>
          <%= profile_picture(person) %>
          <span class="people-affiliation"><%= person.party.name %></span>
        </figure>
      </div>
      <h3><%= person.name %></h3>
    <% end %>
    <p><%= person.role %></p>
  </li>
<% end %>

