<tr>
  <td><%= f.text_field :description, label: false, id: nil %></td>
  <td><%= f.text_field :entity, label: false, id: nil %></td>
  <td><%= f.text_field :start_year, label: false, id: nil %></td>
  <td><%= f.text_field :end_year, label: false, id: nil %></td>
  <td><%= link_to t('shared.delete'), '#', class: "right tiny button radius alert", data: {delete_parent: "tr" } %></td>
</tr>
