<% if person.councillor? %>
  <div class="people-photo"><%= profile_picture(person) %></div>
<% else %>
  <h3 class="show-for-medium-up"><%= person.name %></h3>
<% end %>

<ul class="side-nav" role="navigation">

  <li role="menuitem" data-magellan-arrival="profile">
    <a href="#profile" title="<%= t("people.profile") %>">
      <%= t("people.profile") %>
    </a>
  </li>

  <% if person.councillor? %>
    <li role="menuitem" data-magellan-arrival="assets_declarations">
      <a href="#assets_declarations" title="<%= t("people.assets_declarations") %>">
        <%= t("people.assets_declarations") %>
      </a>
    </li>

    <li role="menuitem" data-magellan-arrival="activities_declarations">
      <a href="#activities_declarations" title="<%= t("people.activities_declarations") %>">
        <%= t("people.activities_declarations") %>
      </a>
    </li>
  <% end %>
</ul>
