<div class="people-photo"><%= image_tag "people_example.jpg" %></div>
<ul class="side-nav" role="navigation">
  <li role="menuitem" data-magellan-arrival="responsibility" class="active"><a href="#responsibility" title="<%= t("people.responsibility") %>"><%= t("people.responsibility") %></a></li>
  <li role="menuitem" data-magellan-arrival="biography"><a href="#biography" title="<%= t("people.biography") %>"><%= t("people.biography") %></a></li>
  <li role="menuitem" data-magellan-arrival="diary"><a href="#diary" title="<%= t("people.diary") %>"><%= t("people.diary") %></a></li>
  <li role="menuitem" data-magellan-arrival="assets_declarations"><a href="#assets_declarations" title="<%= t("people.assets_declarations") %>"><%= t("people.assets_declarations") %></a></li>
  <li role="menuitem" data-magellan-arrival="activities_declarations"><a href="#activities_declarations" title="<%= t("people.activities_declarations") %>"><%= t("people.activities_declarations") %></a></li>
  <li role="menuitem" data-magellan-arrival="contact"><a href="#contact" title="<%= t("people.contact") %>"><%= t("people.contact") %></a></li>
</ul>
