<a name="profile" data-magellan-destination="profile"></a>
<h2 class="lead"><%= t("people.profile") %></h2>

<% if @person.studies.any? %>
  <table>
    <caption><%= t("people.studies.title") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.studies.description") %></th>
        <th scope="col" class="th-big"><%= t("people.studies.entity") %></th>
        <th scope="col" class="th-small"><%= t("people.studies.start_year") %></th>
        <th scope="col" class="th-small"><%= t("people.studies.end_year") %></th>
      </tr>
    </thead>
    <tbody>
      <% @person.studies.each do |study| %>
        <tr>
          <td><%= study.description %></td>
          <td><%= study.entity %></td>
          <td><%= study.start_year %></td>
          <td><%= study.end_year %></td>
        </tr>
      <% end %>
      <% if @person.studies_comment.present? %>
        <tr>
          <td colspan=4>
            <%= format_free_text @person.studies_comment %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @person.has_courses? %>
  <table>
    <caption><%= t("people.courses.title") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.courses.description") %></th>
        <th scope="col" class="th-big"><%= t("people.courses.entity") %></th>
        <th scope="col" class="th-small"><%= t("people.courses.start_year") %></th>
        <th scope="col" class="th-small"><%= t("people.courses.end_year") %></th>
      </tr>
    </thead>
    <tbody>
      <% @person.courses.each do |course| %>
        <tr>
          <td><%= course.description %></td>
          <td><%= course.entity %></td>
          <td><%= course.start_year %></td>
          <td><%= course.end_year %></td>
        </tr>
      <% end %>
      <% if @person.courses_comment.present? %>
        <tr>
          <td colspan=4>
            <%= simple_format @person.courses_comment %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @person.languages.any? %>
  <table>
    <caption><%= t("people.languages.title") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.languages.name") %></th>
        <th scope="col" class="th-small"><%= t("people.languages.level") %></th>
      </tr>
    </thead>
    <tbody>
      <% @person.languages.each do |language| %>
        <tr>
          <td><%= language.name %></td>
          <td><%= language.level %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if (@person.public_jobs + @person.private_jobs + @person.political_posts).any? || @person.career_comment.present? %>
  <h3><%= t("people.career") %></h3>
<% end %>

<% if @person.public_jobs.any? %>
  <table>
    <caption><%= t("people.public_jobs.title") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.public_jobs.description") %></th>
        <th scope="col" class="th-big"><%= t("people.public_jobs.entity") %></th>
        <th scope="col" class="th-small"><%= t("people.public_jobs.start_year") %></th>
        <th scope="col" class="th-small"><%= t("people.public_jobs.end_year") %></th>
      </tr>
    </thead>
    <tbody>
      <% @person.public_jobs.each do |job| %>
        <tr>
          <td><%= job.description %></td>
          <td><%= job.entity %></td>
          <td><%= job.start_year %></td>
          <td><%= job.end_year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @person.private_jobs.any? %>
  <table>
    <caption><%= t("people.private_jobs.title") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.private_jobs.description") %></th>
        <th scope="col" class="th-big"><%= t("people.private_jobs.entity") %></th>
        <th scope="col" class="th-small"><%= t("people.private_jobs.start_year") %></th>
        <th scope="col" class="th-small"><%= t("people.private_jobs.end_year") %></th>
      </tr>
    </thead>
    <tbody>
      <% @person.private_jobs.each do |job| %>
        <tr>
          <td><%= job.description %></td>
          <td><%= job.entity %></td>
          <td><%= job.start_year %></td>
          <td><%= job.end_year %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @person.career_comment.present? %>
  <table>
    <caption><%= t("people.career_comment.title") %></caption>
    <tbody>
      <td><%= simple_format @person.career_comment %></td>
    </tbody>
  </table>
<% end %>

<% if @person.political_posts.any? %>
  <table>
    <caption><%= t("people.political_posts.title") %></caption>
    <thead>
      <tr>
        <th scope="col"><%= t("people.political_posts.description") %></th>
        <th scope="col" class="th-big"><%= t("people.political_posts.entity") %></th>
        <th scope="col" class="th-small"><%= t("people.political_posts.start_year") %></th>
        <th scope="col" class="th-small"><%= t("people.political_posts.end_year") %></th>
      </tr>
    </thead>
    <tbody>
      <% @person.political_posts.each do |post| %>
        <tr>
          <td><%= post.description %></td>
          <td><%= post.entity %></td>
          <td><%= post.start_year %></td>
          <td><%= post.end_year %></td>
        </tr>
      <% end %>
      <% if @person.political_posts_comment.present? %>
        <tr>
          <td colspan=4>
            <%= simple_format @person.political_posts_comment %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @person.publications.present? %>
  <h3><%= t("people.publications") %></h3>
  <%= format_free_text @person.publications %>
<% end %>

<% if @person.teaching_activity.present? %>
  <h3><%= t("people.teaching_activity") %></h3>
  <%= format_free_text @person.teaching_activity %>
<% end %>

<% if @person.special_mentions.present? %>
  <h3><%= t("people.special_mentions") %></h3>
  <%= format_free_text @person.special_mentions %>
<% end %>

<% if @person.other.present? %>
  <h3><%= t("people.other") %></h3>
  <%= format_free_text @person.other %>
<% end %>
