<% provide :title do %><%= t("transparency") %> - <%= t("people.councillors.title") %><% end %>

<ul class="breadcrumbs" aria-label="breadcrumbs">
  <li>
    <%= link_to t("home"), root_path %>
  </li>
  <li class="unavailable" aria-disabled="true">
    <%= t("people.councillors.title") %>
  </li>
</ul>

<div class="people">
  <div class="small-12 column">
    <h1><%= t("people.councillors.title") %></h1>

    <ul class="tabs margin-top divider" data-tab>
      <li class="tab-title active"><a href="#working"><%= t('people.working') %></a></li>
      <li class="tab-title"><a href="#not-working"><%= t('people.not_working') %></a></li>
    </ul>

    <div class="tabs-content margin-top">
      <div class="content active" id="working">
        <% cache [locale_key, @working_councillors_by_party] do %>
          <% @working_councillors_by_party.each do |party, councillors| %>
            <h2 class="lead"><%= party.name %></h2>
            <%= render 'councillors_list', councillors: councillors %>
          <% end %>
        <% end %>
      </div>

      <div class="content" id="not-working">
        <% cache [locale_key, @not_working_councillors] do %>
          <%= render 'councillors_list', councillors: @not_working_councillors %>
        <% end %>
      </div>
    </div>


  </div>
</div>
