<% provide :title do %><%= t("transparency") %> - <%= t("people.councillors.title") %><% end %>

<div class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= t("people.councillors.title") %>
  </li>
</div>

<div class="people">
  <div class="small-12 column">

    <h1><%= t("people.councillors.title") %></h1>

    <% cache [locale_key, @people_groups] do %>

      <% @people_groups.each do |party, people| %>
        <h2 class="lead"><%= party.name %></h2>
        <ul class="people-list">
          <% people.each do |person| %>
            <li>
              <%= link_to person do %>
                <div class="people-photo">
                  <figure>
                    <%= profile_picture(person) %>
                    <% if person.not_working? %>
                      <span class="people-affiliation"><%= t('people.not_working') %></span>
                    <% end %>
                  </figure>
                </div>
                <h3><%= person.name %></h3>
              <% end %>
              <p><%= person.role %></p>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>
