<% cache [locale_key, @people_groups] do %>

  <% provide :title do %><%= t("transparency") %> - <%= t("people.directors.title") %><% end %>

  <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <li role="menuitem">
      <%= link_to t("home"), root_path %>
    </li>
    <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
      <%= t("people.directors.title") %>
    </li>
  </ul>

  <div class="people">
    <div class="small-12 column">
      <h1><%= t("people.directors.title") %></h1>

      <% @directors_by_name_initial.each do |name_initial, directors| %>
        <h2 class="lead"><%= name_initial %></h2>
        <ul class="people-list-text">
          <% directors.each do |director| %>
            <li>
              <h3 class="inline-block"><%= link_to director.backwards_name, person_path(director) %></h3> - <%= director.unit %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>
