<% cache [locale_key, @people_groups] do %>

  <% provide :title do %><%= t("transparency") %> - <%= t("people.directors.title") %><% end %>

  <div class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <li role="menuitem">
      <%= link_to t("home"), root_path %>
    </li>
    <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
      <%= t("people.directors.title") %>
    </li>
  </div>

  <div class="people">
    <div class="small-12 column">
      <h1><%= t("people.directors.title") %></h1>

      <% @people_groups.each do |group_name, people| %>
        <h2 class="lead"><%= group_name %></h2>
        <ul class="people-list-text">
          <% people.each do |person| %>
            <li>
              <h3 class="inline-block"><%= link_to person.backwards_name, person_path(person) %></h3> - <%= person.unit %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>
