<ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem">
    <% if @person.councillor? %>
      <%= link_to t("people.councillors.title"), councillors_people_path %>
    <% else %>
      <%= link_to t("people.directors.title"), directors_people_path %>
    <% end %>
  </li>
  <li role="menuitem">
    <%= link_to @person.name, person_path(@person) %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= t("people.edit.title") %>
  </li>
</ul>

<div class="small-12 column">
  <%= render 'form' %>
</div>
