<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= t("people.title") %>
  </li>
</nav>

<div class="people">
  <div class="small-12 column">
    <h1 class="lead"><%= t("people.title") %></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

    <ul class="people-list">
      <% @people.each do |person| %>
        <li>
          <div class="people-photo">
            <%= image_tag "people_example.jpg" %>
            <span class="people-affiliation"><%= person.party.name %></span>
          </div>
          <h3><%= link_to person.name, person %></h3>
          <p><%= person.role %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
