<% cache [locale_key, @labours_by_name_initial] do %>

  <% provide :title do %><%= t("transparency") %> - <%= t("people.labours.title") %><% end %>

  <ul class="breadcrumbs" aria-label="breadcrumbs">
    <li>
      <%= link_to t("home"), root_path %>
    </li>
    <li class="unavailable" aria-disabled="true">
      <%= t("people.labours.title") %>
    </li>
  </ul>

  <div class="people">
    <div class="small-12 column">
      <h1><%= t("people.labours.title") %></h1>
      <%= render "people_by_initial", people_by_initial: @labours_by_name_initial %>
    </div>
  </div>
<% end %>
