<% cache [locale_key, @public_workers_by_name_initial] do %>

  <% provide :title do %><%= t("transparency") %> - <%= t("people.public_workers.title") %><% end %>

  <ul class="breadcrumbs" aria-label="breadcrumbs">
    <li>
      <%= link_to t("home"), root_path %>
    </li>
    <li class="unavailable" aria-disabled="true">
      <%= t("people.public_workers.title") %>
    </li>
  </ul>

  <div class="people">
    <div class="small-12 column">
      <h1><%= t("people.public_workers.title") %></h1>

      <% @public_workers_by_name_initial.each do |name_initial, public_workers| %>
        <h2 class="lead"><%= name_initial %></h2>
        <ul class="people-list-text">
          <% public_workers.each do |public_worker| %>
            <li>
              <h3 class="inline-block"><%= link_to public_worker.backwards_name, person_path(public_worker) %></h3> - <%= public_worker.role %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>
