<% provide :title do %>
  <%= t("transparency") %> -
  <% if @person.councillor? %>
    <%= t("people.councillors.title") %>
  <% elsif @person.director? %>
    <%= t("people.directors.title") %>
  <% elsif @person.temporary_worker? %>
    <%= t("people.temporary_workers.title") %>
  <% elsif @person.public_worker? %>
    <%= t("people.public_workers.title") %>
  <% elsif @person.spokesperson? %>
    <%= t("people.spokespeople.title") %>
  <% elsif @person.labour? %>
    <%= t("people.labours.title") %>
  <% end %>
  - <%= @person.name %>
<% end %>

<% cache [locale_key, @person, @person.party, administrator_signed_in?] do %>

  <ul class="breadcrumbs" aria-label="breadcrumbs">
    <li>
      <%= link_to t("home"), root_path %>
    </li>
    <li>
      <% if @person.councillor? %>
        <%= link_to t("people.councillors.title"), councillors_people_path %>
      <% elsif @person.director? %>
        <%= link_to t("people.directors.title"), directors_people_path %>
      <% elsif @person.temporary_worker? %>
        <%= link_to t("people.temporary_workers.title"), temporary_workers_people_path %>
      <% elsif @person.public_worker? %>
        <%= link_to t("people.public_workers.title"), public_workers_people_path %>
      <% elsif @person.spokesperson? %>
        <%= link_to t("people.spokespeople.title"), spokespersons_people_path %>
      <% elsif @person.labour? %>
        <%= link_to t("people.labours.title"), labours_people_path %>
      <% end %>
    </li>
    <li class="unavailable" aria-disabled="true">
      <%= @person.name %>
    </li>
  </ul>

  <section class="people-card">
    <div class="small-12 medium-3 column">
      <div class="show-for-medium-up relative">
        <div data-magellan-expedition="fixed" class="fixed-left-sidebar">
          <%= render 'menu', person: @person %>
        </div>
      </div>

      <div class="show-for-small">
        <div data-magellan-expedition>
          <%= render 'menu', person: @person %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-9 column">
      <div class="row">
        <div class="medium-9 columns">
          <h1 class="inline-block"><%= @person.name %></h1>

          <p class="role">
            <%= @person.role %>
            <% if @person.secondary_role.present? %>
              <span class="secondary-role"><%= @person.secondary_role %></span>
            <% end %>
          </p>

          <p><%= @person.unit %></p>

          <% if @person.starting_date.present? %>
            <p><%= t('people.show.starting_date', starting_date: format_date(@person.starting_date)) %></p>
          <% end %>

          <% if @person.not_working? %>
            <p><%= t('people.show.leaving_date', leaving_date: format_date(@person.leaving_date)) %></p>
          <% end %>

          <% if @person.twitter.present? || @person.facebook.present? %>
            <p>
              <% if @person.twitter.present? %>
                <%= link_to twitter_url(@person.twitter), target: :blank do %>
                  <i class="icon-twitter"></i>
                  <%= @person.twitter %>
                <% end %>
              <% end %>

              <% if @person.twitter.present? && @person.facebook.present? %>
                &nbsp;|&nbsp;
              <% end %>

              <% if @person.facebook.present? %>
                <%= link_to facebook_url(@person.facebook), target: :blank do %>
                  <i class="icon-facebook"></i>
                  <%= t("people.facebook") %>
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="medium-3 columns text-right">
          <% if @person.party.present? %>
            <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
          <% end %>
        </div>
      </div>

      <% if administrator_signed_in? %>
        <div class="row">
          <div class="small-12 columns">
            <%= link_to t("shared.edit"), edit_person_path(@person), class: "small button radius" %>
            <%= link_to t("shared.delete"), person_path(@person), method: :delete, data: {confirm: t("people.show.confirm_deletion")}, class: "small button radius alert" %>
            <% if @person.hidden? %>
              <%= link_to t("shared.unhide"),
                          '#',
                          data: {toggle: "##{dom_id(@person)}_unhide_form"},
                          class: "small button radius info" %>
              <div id="<%= dom_id(@person) %>_unhide_form" style="display: none;">
                <%= render 'unhide_form', person: @person %>
              </div>

            <% else %>
              <%= link_to t("shared.hide"),
                          '#',
                          data: {toggle: "##{dom_id(@person)}_hide_form"},
                          class: "small button radius info" %>
              <div id="<%= dom_id(@person) %>_hide_form" style="display: none;">
                <%= render 'hide_form', person: @person %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if @person.should_display_profile? %>
        <% if @person.profile.present? %>
          <%= render 'profile' %>
        <% else %>
          <%= render 'no_profile' %>
        <% end %>
      <% end %>

      <% if @person.should_display_declarations? %>
        <%= render 'assets_declarations' %>

        <%= render 'activities_declarations' %>
      <% end %>

      <p><%= t('people.show.disclaimer') %></p>
    </div>
  </section>
<% end %>
