<% cache [locale_key, @person, @person.party] do %>
  <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <li role="menuitem">
      <%= link_to t("home"), root_path %>
    </li>
    <li role="menuitem">
      <% if @person.councillor? %>
        <%= link_to t("people.councillors.title"), councillors_people_path %>
      <% else %>
        <%= link_to t("people.directors.title"), directors_people_path %>
      <% end %>

    </li>
    <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
      <%= @person.name %>
    </li>
  </nav>

  <section class="people-card">
    <div class="small-12 medium-3 column">
      <div class="show-for-medium-up relative">
        <div data-magellan-expedition="fixed" class="fixed-left-sidebar">
          <%= render 'menu', person: @person %>
        </div>
      </div>

      <div class="show-for-small">
        <h1 class="inline-block"><%= @person.name %></h1>
        <p><%= @person.unit %></p>
        <p class="role"><%= @person.role %></p>
        <div class="right">
          <% if @person.party.present? %>
            <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
          <% end %>
        </div>

        <div data-magellan-expedition>
          <%= render 'menu', person: @person %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-9 column">
      <div class="show-for-medium-up">
        <div class="right">
          <% if @person.party.present? %>
            <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
          <% end %>
        </div>
        <h1 class="inline-block"><%= @person.name %></h1>
        <p><%= @person.unit %></p>
        <p class="role"><%= @person.role %></p>
      </div>

      <%= render 'profile' %>

      <% if @person.councillor? %>
        <%= render 'assets_declarations' %>

        <%= render 'activities_declarations' %>
      <% end %>

      <p><%= t('people.show.disclaimer') %></p>
    </div>
  </section>
<% end %>
