<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem">
    <%= link_to t("people.title"), people_path %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= @person.name %>
  </li>
</nav>

<section class="people-card relative">

  <div data-magellan-expedition class="fixed-left-sidebar medium-3 column">
    <div class="people-photo"><%= image_tag "people_example.jpg" %></div>

    <ul class="side-nav" role="navigation">
      <li role="menuitem" data-magellan-arrival="responsibility"><a href="#responsibility" title="<%= t("people.responsibility") %>"><%= t("people.responsibility") %></a></li>
      <li role="menuitem" data-magellan-arrival="biography"><a href="#biography" title="<%= t("people.biography") %>"><%= t("people.biography") %></a></li>
      <li role="menuitem" data-magellan-arrival="diary"><a href="#diary" title="<%= t("people.diary") %>"><%= t("people.diary") %></a></li>
      <li role="menuitem" data-magellan-arrival="assets_declarations"><a href="#assets_declarations" title="<%= t("people.assets_declarations") %>"><%= t("people.assets_declarations") %></a></li>
      <li role="menuitem" data-magellan-arrival="activities_declarations"><a href="#activities_declarations" title="<%= t("people.activities_declarations") %>"><%= t("people.activities_declarations") %></a></li>
      <li role="menuitem" data-magellan-arrival="contact"><a href="#contact" title="<%= t("people.contact") %>"><%= t("people.contact") %></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 medium-offset-3 column">
    <div class="people-info">
      <div class="right">
        <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
      </div>
      <h1><%= @person.name %></h1>
      <p class="role"><%= @person.role %></p>
    </div>

    <h2 data-magellan-destination="responsibility"><%= t("people.responsibility") %></h2>
    <a name="responsibility"></a>
    <%= @person.functions.try(:html_safe) %>

    <h2 data-magellan-destination="biography"><%= t("people.biography") %></h2>
    <a name="biography"></a>
    <%= @person.biography.try(:html_safe) %>

    <%= render 'diary' %>

    <%= render 'assets_declarations' %>

    <%= render 'activities_declarations' %>

    <%= render 'contact' %>
  </div>
</section>
