<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem">
    <%= link_to t("people.title"), people_path %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= @person.name %>
  </li>
</nav>

<section class="people-card">
  <div class="small-12 column">
    <div class="people-info">
      <div class="row">
        <div class="small-12 medium-3 column">
          <div class="people-photo"><%= image_tag "people_example.jpg" %></div>
        </div>
        <div class="small-12 medium-9 column">
          <div class="right">
            <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
          </div>
          <h1><%= @person.name %></h1>
          <p class="role"><%= @person.role %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="small-12 medium-3 column">
    <ul class="side-nav" role="navigation">
      <li role="menuitem" class="active"><a href="#" title="<%= t("people.responsibility") %>"><%= t("people.responsibility") %></a></li>
      <li role="menuitem"><a href="#" title="<%= t("people.declarations") %>"><%= t("people.declarations") %></a></li>
      <li role="menuitem"><a href="#" title="<%= t("people.biography") %>"><%= t("people.biography") %></a></li>
      <li role="menuitem"><a href="#" title="<%= t("people.diary") %>"><%= t("people.diary") %></a></li>
      <li role="menuitem"><a href="#" title="<%= t("people.contact") %>"><%= t("people.contact") %></a></li>
    </ul>
  </div>

  <div class="small-12 medium-9 column">

    <h2><%= t("people.responsibility") %></h2>
    <%= @person.functions.try(:html_safe) %>

    <%= render 'declarations' %>

    <h2><%= t("people.biography") %></h2>
    <%= @person.biography.try(:html_safe) %>

    <%= render 'diary' %>

    <%= render 'contact' %>
  </div>
</section>
