<% cache [locale_key, @person, @person.party, administrator_signed_in?] do %>

  <ul class="breadcrumbs" aria-label="breadcrumbs">
    <li>
      <%= link_to t("home"), root_path %>
    </li>
    <li>
      <%= breadcrumb_person_title_link(@person) %>
    </li>
    <li class="unavailable" aria-disabled="true">
      <%= @person.name %>
    </li>
  </ul>

  <section class="people-card">
    <div class="small-12 medium-3 column">
      <div class="show-for-medium-up relative">
        <div data-magellan-expedition="fixed" class="fixed-left-sidebar">
          <%= render 'menu', person: @person %>
        </div>
      </div>

      <div class="show-for-small">
        <div data-magellan-expedition>
          <%= render 'menu', person: @person %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-9 column">
      <div class="row">
        <div class="medium-9 columns">
          <h1 class="inline-block"><%= @person.name %></h1>

          <p class="role">
            <%= @person.role %>
            <% if @person.secondary_role.present? %>
              <span class="secondary-role"><%= @person.secondary_role %></span>
            <% end %>
          </p>

          <p><%= @person.unit %></p>

          <% if @person.starting_date.present? %>
            <p><%= t('people.show.starting_date', starting_date: format_date(@person.starting_date)) %></p>
          <% end %>

          <% if @person.not_working? %>
            <p><%= t('people.show.leaving_date', leaving_date: format_date(@person.leaving_date)) %></p>
          <% end %>

          <% if @person.twitter.present? || @person.facebook.present? %>
            <p>
              <% if @person.twitter.present? %>
                <%= link_to twitter_url(@person.twitter), target: :blank do %>
                  <i class="icon-twitter"></i>
                  <%= @person.twitter %>
                <% end %>
              <% end %>

              <% if @person.twitter.present? && @person.facebook.present? %>
                &nbsp;|&nbsp;
              <% end %>

              <% if @person.facebook.present? %>
                <%= link_to facebook_url(@person.facebook), target: :blank do %>
                  <i class="icon-facebook"></i>
                  <%= t("people.facebook") %>
                <% end %>
              <% end %>
            </p>
          <% end %>
        </div>
        <div class="medium-3 columns text-right">
          <% if @person.party.present? %>
            <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
          <% end %>
        </div>
      </div>

      <% if administrator_signed_in? %>
        <div class="row">
          <div class="small-12 columns">
            <%= link_to t("shared.edit"), edit_admin_person_path(@person), class: "small button radius" %>
          </div>
        </div>
      <% end %>

      <% if @person.should_display_profile? %>
        <% if @person.profile.present? %>
          <%= render 'profile' %>
        <% else %>
          <%= render 'no_profile' %>
        <% end %>
      <% end %>

      <% if @person.should_display_declarations? %>
        <div id="assets_declarations"><%= render 'assets_declarations' %></div>

        <div id="activities_declarations"><%= render 'activities_declarations' %></div>
      <% end %>

      <p><%= t('people.show.disclaimer') %></p>
    </div>
  </section>
<% end %>
