<% cache [locale_key, @person, @person.party, administrator_signed_in?] do %>
  <nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <li role="menuitem">
      <%= link_to t("home"), root_path %>
    </li>
    <li role="menuitem">
      <% if @person.councillor? %>
        <%= link_to t("people.councillors.title"), councillors_people_path %>
      <% else %>
        <%= link_to t("people.directors.title"), directors_people_path %>
      <% end %>
    </li>
    <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
      <%= @person.name %>
    </li>
  </nav>

  <section class="people-card">
    <div class="small-12 medium-3 column">
      <div class="show-for-medium-up relative">
        <div data-magellan-expedition="fixed" class="fixed-left-sidebar">
          <%= render 'menu', person: @person %>
        </div>
      </div>

      <div class="show-for-small">
        <h1 class="inline-block"><%= @person.name %></h1>
        <p><%= @person.unit %></p>
        <p class="role"><%= @person.role %></p>
        <div class="right">
          <% if @person.party.present? %>
            <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
          <% end %>
        </div>

        <div data-magellan-expedition>
          <%= render 'menu', person: @person %>
        </div>
      </div>
    </div>

    <div class="small-12 medium-9 column">
      <div class="show-for-medium-up">
        <div class="row">
          <div class="medium-9 columns">
            <h1 class="inline-block"><%= @person.name %></h1>

            <p class="role"><%= @person.role %></p>
            <p><%= @person.unit %></p>
            <% if @person.twitter.present? || @person.facebook.present? %>
              <p>
                <% if @person.twitter.present? %>
                  <%= link_to twitter_url(@person.twitter), target: :blank do %>
                    <i class="icon-twitter"></i>
                    <%= @person.twitter %>
                  <% end %>
                <% end %>

                <% if @person.twitter.present? && @person.facebook.present? %>
                  &nbsp;|&nbsp;
                <% end %>

                <% if @person.facebook.present? %>
                  <%= link_to facebook_url(@person.facebook), target: :blank do %>
                    <i class="icon-facebook"></i>
                    <%= t("people.facebook") %>
                  <% end %>
                <% end %>
              </p>
            <% end %>
          </div>
          <div class="medium-3 columns text-right">
            <% if @person.party.present? %>
              <%= image_tag (@person.party.logo), alt: @person.party.name, size: "150x75" %>
            <% end %>
          </div>
        </div>
      </div>

      <% if administrator_signed_in? %>
        <div class="row">
          <div class="small-12 columns">
            <%= link_to t("shared.edit"), edit_person_path(@person), class: "small button radius" %>
            <%= link_to t("shared.delete"), person_path(@person), method: :delete, data: {confirm: t("people.show.confirm_deletion")}, class: "small button radius alert" %>
          </div>
        </div>
      <% end %>

      <%= render 'profile' if @person.profile.present? %>

      <% if @person.councillor? %>
        <%= render 'assets_declarations' %>

        <%= render 'activities_declarations' %>
      <% end %>

      <p><%= t('people.show.disclaimer') %></p>
    </div>
  </section>
<% end %>
