<% cache [locale_key, @people_groups] do %>

  <% provide :title do %><%= t("transparency") %> - <%= t("people.temporary_workers.title") %><% end %>

  <ul class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
    <li role="menuitem">
      <%= link_to t("home"), root_path %>
    </li>
    <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
      <%= t("people.temporary_workers.title") %>
    </li>
  </ul>

  <div class="people">
    <div class="small-12 column">
      <h1><%= t("people.temporary_workers.title") %></h1>

      <% @temporary_workers_by_name_initial.each do |name_initial, temporary_workers| %>
        <h2 class="lead"><%= name_initial %></h2>
        <ul class="people-list-text">
          <% temporary_workers.each do |worker| %>
            <li>
              <h3 class="inline-block"><%= link_to worker.backwards_name, person_path(worker) %></h3> - <%= worker.unit %>
            </li>
          <% end %>
        </ul>
      <% end %>

    </div>
  </div>
<% end %>
