<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem">
    <%= link_to t("contracts.index.title"), contracts_path %>
  </li>
  <li role="menuitem">
    <%= link_to t("contracts.show.title"), contract_path(@contract) %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= t("contracts.edit.title") %>
  </li>
</nav>

<div class="small-12 column">
  <%= render 'form' %>
</div>