<h1><%= t('admin.assets_uploads.show.title') %></h1>

<ul>
  <li><%= active_record_field(@assets_upload, :created_at) %></li>
  <li><%= active_record_field(@assets_upload, :author_email) %></li>
  <li><%= active_record_field(@assets_upload, :period) %></li>
  <li><%= active_record_field(@assets_upload, :original_filename) %></li>
  <li><%= active_record_field(@assets_upload, :file_format) %></li>
  <li><%= active_record_field(@assets_upload, :translated_successful) %></li>
</ul>

<small><pre>
<%= @assets_upload.log %>
</pre></small>

<p class="text-center">
<%= link_to t('admin.assets_uploads.show.back'),
            admin_assets_uploads_path,
            class: 'button' %>
</p>
