<h2><small><%= @selected.title if @selected.present? && @selected.level == 2 %></small></h2>
<% @pages_section3.each do |page| %>
  <%= content_tag_for :div, page do %>
    <%= link_to '', edit_page_path(page), class: 'icon-edit has-tip', data: {tooltip: true}, title: "edit" %>
    <%= link_to pages_path(selected: page.id), class: active_class(@selected, page) do %>
      <span><%= page.title %></span>
      <i class="icon-angle-right"></i>
    <% end %>    
  <% end %>
<% end %>