<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
</nav>

<div class="objectives">
  <div class="small-12 columns">
    <h1><%= @objective.title %></h1>
    <h2><%= @objective.department.name %></h2>
    <h3><%= @objective.department.area.name %></h3>
    <%= render 'form' %>
  </div>
</div>