<nav class="breadcrumbs" aria-label="breadcrumbs">
  <li>
    <%= link_to t("home"), root_path %>
  </li>
</nav>

<div class="objectives small-12 medium-9 column">
  <%= link_to t('shared.edit'), edit_objective_path(@objective), class: 'button radius small right' %>
  <h1><%= @objective.title %></h1>
  <h2><%= @objective.department.name %></h2>
  <h3><%= @objective.department.area.name %></h3>
  <hr>
  <div class="alert-box radius <%= @objective.accomplished? ? "success" : "info" %>">
    <%= @objective.accomplished? ? t('objectives.accomplished') : t('objectives.pending') %>
  </div>
  <p><%= @objective.description.html_safe %></p>
</div>
