<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), root_path %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= t("subventions.index.title") %>
  </li>
</nav>

<div>
  <%= render 'searches/form', url: subventions_path %>
</div>

<% if params[:query] %>
  <h1><%= t("subventions.index.search_results_title") %> </h1>

  <p><%= t("subventions.index.search_results_count", count: @subventions.count) %></p>
<% end %>

<div class="small-12 column">
  <h1><%= t("subventions.index.title") %></h1>

  <table>
    <thead>
      <tr class="sortable">
        <th scope="col"><%= sortable "recipient", t("subventions.index.headers.recipient") %></th>
        <th scope="col"><%= sortable "project", t("subventions.index.headers.project") %></th>
        <th scope="col"><%= sortable "kind", t("subventions.index.headers.kind") %></th>
        <th scope="col"><%= sortable "location", t("subventions.index.headers.location") %></th>
        <th scope="col"><%= sortable "year", t("subventions.index.headers.year") %></th>
        <th scope="col" class="th-small"><%= sortable "amount_euro_cents", t("subventions.index.headers.amount") %></th>
      </tr>
    </thead>
    <tbody>
      <% @subventions.each do |subvention| %>
        <tr class="linkable" data-url="<%= subvention_path(subvention) %>">
          <td><%= subvention.recipient %></td>
          <td><%= subvention.project %></td>
          <td><%= subvention.kind %></td>
          <td><%= subvention.location %></td>
          <td><%= subvention.year %></td>
          <td><%= number_to_currency(subvention.amount_euro_cents/100.0) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @subventions %>
</div>