<div class="sidebar_right">
  <h2><small>Dirección General de Transparencia</small></h2>
  <div>
    Madrid. Esta ordenanza desarrollará el derecho de acceso a la información que ha sido reconocido internacionalmente como un derecho fundamental, esencial para asegurar la participación ciudadana y elemento básico en la lucha contra la corrupción. Se va a facilitar a la ciudadanía un procedimiento que garantice que pueda ejercer 
  </div>
  <%= link_to "Leer más", nil %>
  <hr>
  <h2><small>Directrices de legislatura (objectivos politicos)</small></h2>
  <ol>
    <li value="1">Situar a la Ciudad de Madrid a la cabeza en materia de transparencia aprobando medidas que aseguren la apertura de datos y su reutilización.
    </li>
    <li>Situar a la Ciudad de Madrid a la cabeza en materia de transparencia aprobando medidas que aseguren la apertura de datos y su reutilización.
    </li>
    <li>Garantizar la protección de los datos personales de la ciudadanía en su relación con el Ayuntamiento y específicamente en el desarrollo de las políticas de transparencia con especial interés en los métodos de anonimización de datos.
    </li>
    <li>Garantizar la protección de los datos personales de la ciudadanía en su relación con el Ayuntamiento y específicamente en el desarrollo de las políticas de transparencia con especial interés en los métodos de anonimización de datos.
    </li>
    <li>Impulsar un sistema unificado que facilite a la colaboración ciudadana en la gestión municipal presentando avisos, sugerencias y reclamaciones. 
    </li>
  </ol>
  <hr>
  <h2><small>Actuaciones clave</small></h2>
  <ul class="no-bullet made">
    <h4>Realizada</h4>
    <li>
      <i class="icon-check"></i>
      <%= link_to "Aprobación de una ordenanza de transparencia", nil %>
    </li>
    <li>
      <i class="icon-check"></i>
      <%= link_to "Desarrollo de un nuevo Portal de Transparencia", nil %>
    </li>
  </ul>
  <ul class="no-bullet pending">
    <h4>Pendiente</h4>
    <li>
      <i class="icon-check"></i>
      <%= link_to "Desarrollo de un nuevo Portal de Datos Abiertos", nil %>
    </li>
    <li>
      <i class="icon-check"></i>
      <%= link_to "Transparencia de la contratación y subvenciones públicas", nil %>
    </li>
  </ul>
</div>
