<h2><%= @department.name %></h2>

<div class="description">
  <%= @department.description.truncate(300)  %>
</div>

<div class="description hide">
  <%= @department.description %>
</div>

<%= link_to t('shared.read_more'), "#", class: 'show-more' %>

<hr>

<h2><%= t('departments.directives') %></h2>
<%= @department.directives.html_safe %>

<hr>

<h2><%= t('departments.key_actions') %></h2>

<ul class="no-bullet">
  <h3><%= t('departments.accomplished') %></h3>
  <% @department.objectives.accomplished.order(:order).each do |objective| %>
    <%= content_tag_for :li, objective do %>
      <i class="icon-check success"></i>
      <%= link_to objective.title, objective_path(objective) %>
      <%= link_to "", edit_objective_path(objective), class: 'icon-edit' %>
    <% end %>
  <% end %>
</ul>

<ul class="no-bullet">
  <h3><%= t('departments.pending') %></h3>
  <% @department.objectives.not_accomplished.order(:order).each do |objective| %>
    <%= content_tag_for :li, objective do %>
      <i class="icon-x pending"></i>
      <%= link_to objective.title, objective_path(objective) %>
      <%= link_to "", edit_objective_path(objective), class: 'icon-edit' %>
    <% end %>
  <% end %>
</ul>
