<h2><%= @department.name %></h2>

<div class="description">
  <%= @department.description.truncate(300)  %>
</div>

<div class="description hide">
  <%= @department.description %>
</div>

<%= link_to "Leer más", "#", class: 'show-more' %>

<hr>

<h2>Directrices de legislatura (objectivos politicos)</h2>
<%= @department.directives.html_safe %>

<hr>

<h2>Actuaciones clave</h2>

<ul class="no-bullet made">
  <h3>Realizadas</h3>
  <% @department.objectives.accomplished.order(:order).each do |objective| %>
    <%= content_tag_for :li, objective do %>
      <i class="icon-check"></i>
      <%= link_to objective.title, objective_path(objective) %>
      <%= link_to "", edit_objective_path(objective), class: 'icon-edit' %>
    <% end %>
  <% end %>
</ul>

<ul class="no-bullet pending">
  <h3>Pendientes</h3>
  <% @department.objectives.not_accomplished.order(:order).each do |objective| %>
    <%= content_tag_for :li, objective do %>
      <i class="icon-x"></i>
      <%= link_to objective.title, objective_path(objective) %>
      <%= link_to "", edit_objective_path(objective), class: 'icon-edit' %>
    <% end %>
  <% end %>
</ul>
