<%= content_for :jumbo  do %>

  <div class="row-full jumbo">
    <div class="row">
      <div class="intro">
        <div class="small-12 column text-center">
          <h1><%= t("index.title") %></h1>
          <p><%= t("index.intro") %></p>
          <div class="small-12 medium-8 small-centered column">
            <div class="row collapse">
              <div class="small-9 medium-12 large-9 columns">
                <label class="sr-only"><%= t("index.search_placeholder")%></label>
                <input type="text" name="search" placeholder="<%= t("index.search_placeholder")%>" class="search-form">
              </div>
              <div class="small-3 medium-12 large-3 columns">
                <input type="submit" class="button postfix" value="<%= t("index.search_submit")%>">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end  %>

<div class="areas margin-top">

  <div class="small-12 medium-6 column">
    <h2><%= t("index.featured") %></h2>

    <h3><%= link_to t("index.info"), pages_path %></h3>
    <p><%= t("index.info_text") %></p>

    <h3><%= link_to t("index.people"), people_path %></h3>
    <p><%= t("index.people_text") %></p>

    <h3><%= link_to t("index.objectives"), areas_path %></h3>
    <p><%= t("index.objectives_text") %></p>
  </div>
</div>

<div class="small-12 medium-6 text-center column highlight">
  <h2><%= t("index.request") %></h2>
  <p><%= t("index.request_text") %></p>
  <%= link_to t("index.request_button"), "#", class: "button radius" %>
</div>
