<%= content_for :jumbo  do %>

  <div class="row-full jumbo">
    <div class="row">
      <div class="intro">
        <div class="small-12 column text-center">
          <h1><%= t("index.title") %></h1>
          <p><%= t("index.intro") %></p>
          <%= link_to t("index.how_it_works"), "#", class: "button radius" %>
        </div>
      </div>
    </div>
  </div>

<% end  %>

<div class="areas margin-top">

  <div class="small-12 column text-center">
    <h2><%= t("index.featured_title") %></h2>
  </div>

  <div class="small-12 medium-4 column text-center">
    <%= link_to pages_path do %>
      <%= image_tag ('icon_information.png'), size: '100x100' %>
      <h3><%= t("index.info") %></h3>
    <% end %>
    <p><%= t("index.info_text") %></p>
  </div>

  <div class="small-12 medium-4 column text-center">
    <%= link_to people_path do %>
      <%= image_tag ('icon_people.png'), size: '100x100' %>
      <h3><%= t("index.people") %></h3>
    <% end %>
    <p><%= t("index.people_text") %></p>
  </div>

  <div class="small-12 medium-4 column text-center">
    <%= link_to areas_path do %>
      <%= image_tag ('icon_objectives.png'), size: '100x100' %>
      <h3><%= t("index.objectives") %></h3>
    <% end %>
    <p><%= t("index.objectives_text") %></p>
  </div>
</div>

<div class="small-12 text-center column highlight">
  <h2><%= t("index.request") %></h2>
  <p><%= t("index.request_text") %></p>
  <%= link_to t("index.request_button"), "#", class: "button radius" %>
</div>
