<div class="intro">
  <div class="small-12 column">
    <h1><%= t("index.title") %></h1>
    <p><%= t("index.intro") %></p>
    <div class="small-12 medium-6">
      <div class="row collapse">
        <div class="small-9 medium-12 large-9 columns">
          <input type="text" name="search" placeholder="<%= t("index.search_placeholder")%>" class="search-form">
        </div>
        <div class="small-3 medium-12 large-3 columns">
          <input type="submit" class="button postfix" value="<%= t("index.search_submit")%>">
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<div class="areas">
  <div class="small-12 medium-4 column">
    <h2><%= link_to t("index.info"), pages_path %></h2>
    <p><%= t("index.info_text") %></p>
  </div>
  <div class="small-12 medium-4 column">
    <h2><%= link_to t("index.people"), people_path %></h2>
    <p><%= t("index.people_text") %></p>
  </div>
  <div class="small-12 medium-4 column">
    <h2><%= link_to t("index.objectives"), areas_path %></h2>
    <p><%= t("index.objectives_text") %></p>
  </div>
</div>
