<%= content_tag_for :div, page, class: "level#{page.level}" do %>
  <%= link_to '', edit_page_path(page), class: 'icon-edit has-tip', data: {tooltip: true}, title: "edit" %> 

  <% if page.is_link? %>
    <%= link_to page.link, target: "_blank" do %>
      <span><%= page.title %></span>
      <i class="icon-angle-right"></i>
    <% end %>
  <% elsif page.is_content? %>    
    <%= link_to page_path(page) do %>
      <span><%= page.title %></span>
      <i class="icon-angle-right"></i>
    <% end %>
  <% else %>  
    <%= link_to index_by_id_page_path(page), class: "#{page_active_class(@page, page)} #{page_warning_class(page)}" do %>
      <span><%= page.title %></span>
      <i class="icon-angle-right"></i>
    <% end %>
  <% end %>
<% end %>

<% if page.depth == 2 && page.has_children? %>
  <%= render page.children %>
<% end %>