<%= link_to t("pages.create"), new_page_path, class: 'button radius small right margin-top' %>

<nav class="breadcrumbs" aria-label="breadcrumbs">
  <li>
    <%= link_to t("home"), root_path %>
  </li>
  <li class="unavailable" aria-disabled="true">
    <%= t("pages.title") %>
  </li>
</nav>

<div class="row ">

  <% @pages_path.each do |page| %>
    <%= render 'pages/section', page: page %>
  <% end %>

  <%= empty_sections_placeholders(@pages_path) %>
</div>
