<nav class="breadcrumbs" role="menubar" aria-label="breadcrumbs">
  <li role="menuitem">
    <%= link_to t("home"), pages_path %>
  </li>
  <li role="menuitem" class="unavailable" role="button" aria-disabled="true">
    <%= @page.title %>
  </li>
</nav>

<%= link_to t("pages.edit"), edit_page_path(@page), class: 'button radius small right' %>

<div class="small-12 medium-9 columns">
  <h1><%= @page.title %></h1>
  <h2><%= @page.subtitle %></h2>
  <%= @page.content.html_safe if @page.content.present? %>
</div>
