<%= declaration.hidden_field :id, value: i %>
<div class="row">
  <div class="small-3 column">
    <%= declaration.text_field :declaration_date, label: t('people.declaration_date'), type: 'date' %>
  </div>
  <div class="small-3 column">
    <%= declaration.text_field :period, label: t('people.period') %>
  </div>

  <div class="small-6 column end">
  </div>
</div>

<h2><%= t("activities_declarations.public_activities.title") %></h2>
<table id="public_activities">
  <thead>
    <tr>
      <th scope="col"><%= t("activities_declarations.public_activities.entity") %></th>
      <th scope="col" class="th-big"><%= t("activities_declarations.public_activities.position") %></th>
      <th scope="col" class="th-small"><%= t("activities_declarations.public_activities.start_date") %></th>
      <th scope="col" class="th-small"><%= t("activities_declarations.public_activities.end_date") %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="public-activities-<%= i %>">
    <% public_activities_list(declaration.object).each_with_index do |d, j| %>
      <%= declaration.fields_for "public_activities_attributes[#{j}]", d do |fs| %>
        <%= render 'public_activities_row', f: fs %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5" id="public-activities-add" >
      <%= link_to "#", class: "right small button radius success", data: {add_to: "#public-activities-#{i}", add_from: "#public-activity-row-#{i}"} do %>
        <%= t('shared.add') %>
      <% end %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("activities_declarations.private_activities.title") %></h2>
<table id="private_activities">
  <thead>
    <tr>
      <th scope="col" class="th-big"><%= t("activities_declarations.private_activities.kind") %></th>
      <th scope="col" class="th-big"><%= t("activities_declarations.private_activities.description") %></th>
      <th scope="col" class="th-big"><%= t("activities_declarations.private_activities.entity") %></th>
      <th scope="col" class="th-big"><%= t("activities_declarations.private_activities.post") %></th>
      <th scope="col" class="th-small"><%= t("activities_declarations.private_activities.start_date") %></th>
      <th scope="col" class="th-small"><%= t("activities_declarations.private_activities.end_date") %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="private-activities-<%= i %>">
    <% private_activities_list(declaration.object).each_with_index do |d, j| %>
      <%= declaration.fields_for "private_activities_attributes[#{j}]", d do |fs| %>
        <%= render 'private_activities_row', f: fs %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="7" id="private-activities-add" >
      <%= link_to "#", class: "right small button radius success", data: {add_to: "#private-activities-#{i}", add_from: "#private-activity-row-#{i}"} do %>
        <%= t('shared.add') %>
      <% end %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("activities_declarations.other_activities.title") %></h2>
<table id="other_activities">
  <thead>
    <tr>
      <th scope="col" class="th-big"><%= t("activities_declarations.other_activities.description") %></th>
      <th scope="col" class="th-small"><%= t("activities_declarations.other_activities.start_date") %></th>
      <th scope="col" class="th-small"><%= t("activities_declarations.other_activities.end_date") %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="other-activities-<%= i %>">
    <% other_activities_list(declaration.object).each_with_index do |d, j| %>
      <%= declaration.fields_for "other_activities_attributes[#{j}]", d do |fs| %>
        <%= render 'other_activities_row', f: fs %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5" " id="other-activities-add" >
      <%= link_to "#", class: "right small button radius success", data: {add_to: "#other-activities-#{i}", add_from: "#other-activity-row-#{i}"} do %>
        <%= t('shared.add') %>
      <% end %>
    </td></tr>
  </tfoot>
</table>