<%= declaration.hidden_field :id, value: i %>
<div class="row">
  <div class="small-3 column ">
    <%= declaration.text_field :declaration_date, label: t('people.declaration_date'), type: 'date' %>
  </div>
  <div class="small-3 column">
    <%= declaration.text_field :period, label: t('people.period') %>
  </div>

  <div class="small-6 column end">
  </div>
</div>

<h2><%= t("assets_declarations.real_estate_properties.title") %></h2>
<table id='real_estate_properties'>
  <thead>
    <tr>
      <th scope="col" class="th-big"><%= t("assets_declarations.real_estate_properties.kind") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.real_estate_properties.type") %></th>
      <th scope="col" class="th-big"><%= t("assets_declarations.real_estate_properties.description") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.real_estate_properties.municipality") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.real_estate_properties.share") %></th>
      <th scope="col" ><%= t("assets_declarations.real_estate_properties.purchase_date") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.real_estate_properties.tax_value") %></th>
      <th scope="col" class="th-big"><%= t("assets_declarations.real_estate_properties.notes") %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="real-estate-properties-<%= i %>">
    <% real_estate_properties_list(declaration.object).each_with_index do |d, j| %>
      <%= declaration.fields_for "real_estate_properties_attributes[#{j}]", d do |fs| %>
        <%= render 'real_estate_properties_row', f: fs %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="9" id="real-state-properties-add" >
      <%= link_to "#", class: "right small button radius success", data: {add_to: "#real-estate-properties-#{i}", add_from: "#real-estate-property-row-#{i}"} do %>
        <%= t('shared.add') %>
      <% end %>
    </td></tr>
  </tfoot>
</table>

<h2><%= t("assets_declarations.account_deposits.title") %></h2>
<table id='account_deposits'>
  <thead>
    <tr>
      <th scope="col"><%= t("assets_declarations.account_deposits.kind") %></th>
      <th scope="col" class="th-big"><%= t("assets_declarations.account_deposits.entity") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.account_deposits.balance") %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="account-deposits-<%= i %>">
    <% account_deposits_list(declaration.object).each_with_index do |d, j| %>
      <%= declaration.fields_for "account_deposits_attributes[#{j}]", d do |fs| %>
        <%= render 'account_deposits_row', f: fs %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5" id="account-deposit-add" >
      <%= link_to "#", class: "right small button radius success", data: {add_to: "#account-deposits-#{i}", add_from: "#account-deposit-row-#{i}"} do %>
        <%= t('shared.add') %>
      <% end %>
    </td></tr>
  </tfoot>
</table>


<h2><%= t("assets_declarations.other_deposits.title") %></h2>
<table id='other_deposits'>
  <thead>
    <tr>
      <th scope="col"><%= t("assets_declarations.other_deposits.kind") %></th>
      <th scope="col" class="th-big"><%= t("assets_declarations.other_deposits.description") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.other_deposits.amount") %></th>
      <th scope="col" class="th-small"><%= t("assets_declarations.other_deposits.purchase_date") %></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody id="other-deposits-<%= i %>">
    <% other_deposits_list(declaration.object).each_with_index do |d, j| %>
      <%= declaration.fields_for "other_deposits_attributes[#{j}]", d do |fs| %>
        <%= render 'other_deposits_row', f: fs %>
      <% end %>
    <% end %>
  </tbody>
  <tfoot>
    <tr><td colspan="5" id="other-deposit-add" >
      <%= link_to "#", class: "right small button radius success", data: {add_to: "#other-deposits-#{i}", add_from: "#other-deposit-row-#{i}"} do %>
        <%= t('shared.add') %>
      <% end %>
    </td></tr>
  </tfoot>
</table>
