<%= form_for "person[assets_declarations_attributes[#{i}]]", html: {style: "display: none"} do |f| %>
  <table><tbody id="real-estate-property-row-<%= i %>">
    <%= f.fields_for "[real_estate_properties_attributes][{id}]", empty_real_estate_property do |fs| %>
      <%= render 'real_estate_properties_row', f: fs %>
    <% end %>
  </tbody></table>

  <table><tbody id="account-deposit-row-<%= i %>">
    <%= f.fields_for "[account_deposits_attributes][{id}]", empty_account_deposit do |fs| %>
      <%= render 'account_deposits_row', f: fs %>
    <% end %>
  </tbody></table>

  <table><tbody id="other-deposit-row-<%= i %>">
    <%= f.fields_for "[other_deposits_attributes][{id}]", empty_other_deposit do |fs| %>
      <%= render 'other_deposits_row', f: fs %>
    <% end %>
  </tbody></table>

<% end %>