<%= form_for "person[activities_declarations_attributes[#{i}]]", html: {style: "display: none"} do |f| %>
  <table><tbody id="public-activity-row-<%= i %>">
    <%= f.fields_for "[public_activities_attributes][{id}]", empty_public_activity do |fs| %>
      <%= render 'public_activities_row', f: fs %>
    <% end %>
  </tbody></table>

  <table><tbody id="private-activity-row-<%= i %>">
    <%= f.fields_for "[private_activities_attributes][{id}]", empty_private_activity do |fs| %>
      <%= render 'private_activities_row', f: fs %>
    <% end %>
  </tbody></table>
<% end %>

