<ul class="tabs" data-tab>
  <li class="tab-title active">
    <a href="#main_form">
      <%= t('people.personal_data') %>
    </a>
  </li>
  <li class="tab-title ">
    <a href="#activities_declarations">
      <%= t('people.activities_declarations') %>
    </a>
  </li>
  <li class="tab-title ">
    <a href="#assets_declarations">
      <%= t('people.assets_declarations') %>
    </a>
  </li>
</ul>

<div class="tabs-content">
  <div id="main_form" class="small-12 column content active" aria-hidden="false" >
    <%= render 'form', f: f %>
  </div>

  <div id="activities_declarations" class="small-12 column content" aria-hidden="true" >
    <%= render 'activities_declaration_form', f: f %>
  </div>

  <div id="assets_declarations" class="small-12 column content" aria-hidden="true" >
    <%= render 'assets_declaration_form', f: f  %>
  </div>
</div>