<tr>
  <td><%= f.text_field :tax, label: false, id: nil %></td>
  <td><%= f.text_field :fiscal_data, label: false, id: nil %></td>
  <td><%= f.text_field :amount, label: false, id: nil %></td>
  <td><%= f.text_field :comments, label: false, id: nil %></td>
  <td class="text-center"><%= link_to t('shared.delete'), '#', class: "delete", data: {delete_parent: "tr" } %></td>
</tr>