<h1><%= t('admin.people.index.title') %></h1>

<table>
  <thead>
    <tr>
      <th><%= Person.human_attribute_name(:backwards_name) %></th>
      <th><%= Person.human_attribute_name(:role) %></th>
      <th><%= Person.human_attribute_name(:hidden_at) %></th>
      <th><%= Person.human_attribute_name(:hidden_by) %></th>
      <th><%= Person.human_attribute_name(:hidden_reason) %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr id="<%= dom_id(person) %>">
        <td><%= person.backwards_name %></td>
        <td><%= person.role %></td>
        <td><%= l(person.hidden_at.to_date) if person.hidden_at %></td>
        <td><%= person.hidden_by.email if person.hidden_by %></td>
        <td><%= person.hidden_reason %></td>
        <td>
          <%= link_to t("shared.unhide"),
                      '#',
                      data: {toggle: "##{dom_id(person)}_unhide_form"},
                      class: "small button radius info" %>
        </td>
      </tr>
      <% if person.hidden? %>
        <tr id="<%= dom_id(person) %>_unhide_form" style="display: none;">
          <td colspan=9>
            <%= render 'unhide_form', person: person %>
          </td>
        </tr>
      <% else %>
        <tr id="<%= dom_id(person) %>_hide_form" style="display: none;">
          <td colspan=9>
            <%= render 'hide_form', person: person %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
