<p>Hola <%= @resource.email %>!</p>

<p><%= t('devise.mailer.reset_password.instructions1') %></p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.mailer.reset_password.instructions2') %></p>
<p><%= t('devise.mailer.reset_password.instructions3') %></p>
