<% content_for :head do %>
  <%= javascript_include_tag "stat_graphs", 'data-turbolinks-track' => true %>
<% end %>
<div class="stats row-full">
  <div class="row">
    <div class="small-12 column">
      <h1><%= t('admin.stats.title') %></h1>

      <div class="small-12 column">
        <h2><%= t('admin.stats.visits') %></h2>
        <%= visits_chart_tag id: "visits" %>
      </div>

      <div class="small-12 column">
        <h2><%= t('admin.stats.all_events') %></h2>
        <%= events_chart_tag @event_types.keys, id: 'combined' %>
      </div>

      <div class="small-12">
        <% @event_types.each do |event, count| %>
          <h2><%= event.titleize %> (<%= count %>)</h2>
          <%= events_chart_tag event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
