<header>

  <%= render "shared/top_links" %>

  <div class="contain-to-grid clear">
    <div class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to root_path do %>
            <%= image_tag('header_logo_madrid.png', size: '80x80', alt: t("layouts.header.logo")) %><%= t("layouts.header.open_gov") %> | <%= t("layouts.header.transparency") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>

  <div class="subnavigation">
    <div class="row">
      <div class="small-12">
        <%= link_to t("layouts.header.home"), root_path, class: ("active" if current_page?(root_path)) %>
        <%= link_to t("layouts.header.councillors"), councillors_people_path, class: ("active" if current_page?(councillors_people_path)) %>
        <%= link_to t("layouts.header.directors"), directors_people_path, class: ("active" if current_page?(directors_people_path)) %>
        <%= link_to t("layouts.header.temporary_workers"), temporary_workers_people_path, class: ("active" if current_page?(temporary_workers_people_path)) %>
        <%= link_to "https://agendas.madrid.es/", target: "_blank", title: "(se abre en ventana nueva)" do %>
            <%=  t("layouts.header.calendars") %>
            <span class="icon-external"></span>
        <% end %>
      </div>
    </div>
  </div>

</header>
