<header>
  <section class="top-links show-for-medium-up">
    <div class="row">
      <div class="external-links">
        <%= link_to t("layouts.header.participation"), "http://decide.madrid.es" %>&nbsp;|
        <%= link_to t("layouts.header.transparency"), root_path, class: "selected" %>&nbsp;|
        <%= link_to t("layouts.header.opendata"), "https://decide.madrid.es/opendata" %>&nbsp;|&nbsp;
        <div class="social inline-block">
          <%= link_to "https://twitter.com/abriendomadrid", target: "_blank", title: t("social.twitter") do %>
            <span class="sr-only"><%= t("social.twitter") %></span>
            <i class="icon-twitter"></i>
          <% end %>
          <%= link_to "https://www.facebook.com/Abriendo-Madrid-1475577616080350/", target: "_blank", title: t("social.facebook") do %>
            <span class="sr-only"><%= t("social.facebook") %></span>
            <i class="icon-facebook"></i>
          <% end %>
          <%= link_to "/blog", target: "_blank", title: t("social.blog") do %>
            <span class="sr-only"><%= t("social.blog") %></span>
            <i class="icon-blog"></i>
          <% end %>
          <%= link_to "https://www.youtube.com/channel/UCFmaChI9quIY7lwHplnacfg", target: "_blank", title: t("social.youtube") do %>
            <span class="sr-only"><%= t("social.youtube") %></span>
            <i class="icon-youtube"></i>
          <% end %>
        </div>
      </div>
    </div>
  </section>

  <div class="contain-to-grid clear">
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to root_path do %>
            <%= image_tag('header_logo_madrid.png', size: '80x80', alt: t("layouts.header.logo")) %><%= t("layouts.header.open_gov") %> | <%= t("layouts.header.transparency") %>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>

  <div class="subnavigation">
    <div class="row">
      <div class="small-12">
        <%= link_to t("layouts.header.home"), root_path, class: ("active" if current_page?(root_path)) %>
        <%= link_to t("layouts.header.people"), councillors_people_path, class: ("active" if current_page?(councillors_people_path)) %>
        <%# link_to t("layouts.header.directors"), directors_people_path, class: ("active" if current_page?(directors_people_path)) %>
        <%# link_to t("layouts.header.subventions"), subventions_path, class: ("active" if current_page?(subventions_path)) %>
        <%# link_to t("layouts.header.contracts"), contracts_path, class: ("active" if current_page?(contracts_path)) %>
        <%# link_to t("layouts.header.inquiries_url"), target: "blank" do %>
          <%# t("layouts.header.inquiries") %>
          <!-- <i class="icon-external"></i> -->
        <%# end %>
      </div>
    </div>
  </div>

</header>
