<header>

  <div class="contain-to-grid clear">
    <div class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <%= link_to root_path do %>
            <%= t("layouts.header.transparency") %> | <%= t("layouts.header.subtitle") %>
          <% end %>
        </li>
      </ul>
      <div class="float-right text-right">
        <%= image_tag('header_logo_madrid.png', alt: t("layouts.header.logo")) %>
      </div>
    </div>
  </div>

  <div class="subnavigation">
    <div class="row">
      <ul class="no-bullet">
        <li class="inline-block">
          <%= link_to t("layouts.header.councillors"), councillors_people_path, class: ("active" if current_page?(root_path)) %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.directors"), directors_people_path, class: ("active" if current_page?(directors_people_path)) %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.temporary_workers"), temporary_workers_people_path, class: ("active" if current_page?(temporary_workers_people_path)) %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.public_workers"), public_workers_people_path, class: ("active" if current_page?(public_workers_people_path)) %>
        </li>
        <li class="inline-block">
          <%= link_to t("layouts.header.spokespeople"), spokespeople_people_path, class: ("active" if current_page?(spokespeople_people_path)) %>
        </li>
        <li class="inline-block">
        <%= link_to "https://agendas.madrid.es/", target: "_blank", title: "(se abre en ventana nueva)" do %>
            <%=  t("layouts.header.calendars") %>
            <span class="icon-external"></span>
        <% end %>
        </li>
      </ul>
    </div>
  </div>

</header>
