<!DOCTYPE html>
<html lang="es">
  <%= render 'layouts/head' %>

  <body>
    <%= render 'layouts/header' %>
    <div class="wrapper">
      <%= render 'shared/notice' %>
      <div class="row">
        <%= yield %>
      </div>
      <div class="push"></div>
    </div>
    <div class="footer">
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
