<h1><%= t('admin.profile_uploads.index.title') %></h1>

<p class="text-center">
  <%= link_to t('admin.profile_uploads.index.new_button'),
              new_admin_profile_upload_path,
              class: 'button' %>
</p>

<table>
  <thead>
    <tr>
      <th><%= ProfileUpload.human_attribute_name(:created_at) %></th>
      <th><%= ProfileUpload.human_attribute_name(:author_email) %></th>
      <th><%= ProfileUpload.human_attribute_name(:translated_successful) %></th>
    </tr>
  </thead>
  <tbody>
    <% @profile_uploads.each do |p| %>
      <tr>
        <td>
          <%= link_to(p.created_at, admin_profile_upload_path(p), style: "display: block;") %>
        </td>
        <td>
          <%= link_to(p.author_email, admin_profile_upload_path(p), style: "display: block;") %>
        </td>
        <td>
          <%= link_to(p.translated_successful, admin_profile_upload_path(p), style: "display: block;") %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @profile_uploads %>
